.home{
    color:white;
}

.hero{
    text-align:center;
    padding:80px 20px;
    max-width:1200px;
    margin:auto;
}

.hero h1{
    font-size:55px;
    color:orange;
}

.hero p{
    font-size:22px;
    margin:20px 0;
    color:#ddd;
}

.hero-buttons{
    margin-top:30px;
}

.hero-buttons button{
    padding:15px 30px;
    margin:10px;
    border:none;
    border-radius:10px;
    background:orange;
    color:black;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:all .3s ease;
}

.hero-buttons button:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(255,165,0,0.35);
}

.features{
    max-width:1100px;
    margin:auto;
    padding:40px 20px;
}

.features h2{
    text-align:center;
    color:orange;
    margin-bottom:40px;
}

.feature-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.feature-card{
    background:#2b2b2b;
    padding:25px;
    border-radius:15px;
    border-left:5px solid orange;
    transition:all .3s ease;
}

.feature-card:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 30px rgba(255,165,0,.25);
}

.feature-card h3{
    color:orange;
    margin-bottom:10px;
}

.hero h1{
  text-shadow: 0 0 20px rgba(255,165,0,.4);
}

.hero{
  animation: fadeIn 0.8s ease;
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(30px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

.hero-image{
    width:100%;
    max-width:650px;
    display:block;
    margin:30px auto;
    border-radius:20px;
    box-shadow:0 0 30px rgba(255,165,0,.35);
    transition:.3s;
}

.hero-image:hover{
    transform:scale(1.02);
}
@media (max-width:768px){

    .hero h1{
        font-size:38px;
    }

    .hero p{
        font-size:18px;
    }

    .hero-buttons button{
        width:90%;
        max-width:280px;
    }

    .hero-image{
        max-width:100%;
    }

}
